In [1]:
import pandas as pd
import numpy as np
import os

In [74]:
df = pd.read_csv('./pitcher/pitcher.csv')
df

,순위,선수명,팀명,ERA,G,W,L,SV\t,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
0,1,김진성,LG,2.18,80,5,1,4,21,0.833,70 1/3,41,8,26,0,69,17,17,0.95
1,2,노경은,SSG,3.58,76,9,5,2,30,0.643,83,78,4,36,4,65,33,33,1.37
2,2,김범수,한화,4.19,76,5,5,1,18,0.500,62 1/3,64,3,33,3,52,33,29,1.56
3,4,고효준,SSG,4.50,73,4,1,0,13,0.800,58,49,3,42,3,66,31,29,1.57
4,5,김태훈,삼성,7.11,71,6,7,3,11,0.462,63 1/3,74,8,43,3,40,54,50,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,204,허윤동,삼성,10.13,7,0,1,0,0,0.000,10 2/3,16,0,12,0,8,12,12,2.63
206,204,황동재,삼성,7.11,7,0,5,0,0,0.000,31 2/3,40,6,21,2,27,27,25,1.93
207,204,김유성,두산,9.95,7,0,0,0,0,-,6 1/3,6,2,12,0,6,7,7,2.84
208,204,김정우,두산,9.45,7,0,0,0,0,-,6 2/3,11,1,7,0,6,7,7,2.70
209,210,정성곤,SSG,10.38,6,0,0,0,0,-,4 1/3,8,2,7,0,3,9,5,3.46

In [76]:
df.isna().sum()

순위      0
선수명     0
팀명      0
ERA     0
G       0
W       0
L       0
SV\t    0
HLD     0
WPCT    0
IP      0
H       0
HR      0
BB      0
HBP     0
SO      0
R       0
ER      0
WHIP    0
dtype: int64

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      210 non-null    int64
 1   선수명     210 non-null    object
 2   팀명      210 non-null    object
 3   ERA     210 non-null    float64
 4   G       210 non-null    int64
 5   W       210 non-null    int64
 6   L       210 non-null    int64
 7   SV	     210 non-null    int64
 8   HLD     210 non-null    int64
 9   WPCT    210 non-null    object
 10  IP      210 non-null    object
 11  H       210 non-null    int64
 12  HR      210 non-null    int64
 13  BB      210 non-null    int64
 14  HBP     210 non-null    int64
 15  SO      210 non-null    int64
 16  R       210 non-null    int64
 17  ER      210 non-null    int64
 18  WHIP    210 non-null    float64
dtypes: float64(2), int64(13), object(4)
memory usage: 31.3+ KB

In [77]:
df.describe()

,순위,ERA,G,W,L,SV\t,HLD,H,HR,BB,HBP,SO,R,ER,WHIP
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,103.742857,4.734000,31.542857,3.357143,3.309524,1.680952,3.457143,59.928571,4.228571,23.314286,3.161905,46.576190,30.138095,26.900000,1.544238
std,60.092676,2.013693,19.190323,3.614309,2.877799,5.953417,6.008811,42.858169,3.448201,14.958516,3.204733,38.367854,19.330789,17.200882,0.394507
min,1.000000,0.900000,6.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.840000
25%,51.750000,3.522500,16.000000,1.000000,1.000000,0.000000,0.000000,29.000000,2.000000,13.000000,1.000000,17.250000,16.000000,14.000000,1.320000
50%,104.000000,4.345000,26.000000,2.000000,3.000000,0.000000,0.000000,51.000000,3.500000,20.000000,2.000000,38.000000,26.000000,23.500000,1.485000
75%,155.000000,5.620000,46.500000,5.000000,5.000000,0.000000,4.750000,76.750000,6.000000,29.750000,4.000000,62.000000,39.000000,35.750000,1.687500
max,210.000000,15.880000,80.000000,20.000000,12.000000,42.000000,32.000000,183.000000,16.000000,93.000000,19.000000,209.000000,92.000000,84.000000,3.710000

In [83]:
df['WPCT'] = pd.to_numeric(df['WPCT'].replace("-", np.nan))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      210 non-null    int64
 1   선수명     210 non-null    object
 2   팀명      210 non-null    object
 3   ERA     210 non-null    float64
 4   G       210 non-null    int64
 5   W       210 non-null    int64
 6   L       210 non-null    int64
 7   SV	     210 non-null    int64
 8   HLD     210 non-null    int64
 9   WPCT    187 non-null    float64
 10  IP      210 non-null    object
 11  H       210 non-null    int64
 12  HR      210 non-null    int64
 13  BB      210 non-null    int64
 14  HBP     210 non-null    int64
 15  SO      210 non-null    int64
 16  R       210 non-null    int64
 17  ER      210 non-null    int64
 18  WHIP    210 non-null    float64
dtypes: float64(3), int64(13), object(3)
memory usage: 31.3+ KB

In [84]:
def convert_IP(innings_str):
    if ' ' in innings_str:
        whole, fraction = innings_str.split(' ')
        if fraction == '1/3':
            fraction_value = 1/3
        elif fraction == '2/3':
            fraction_value = 2/3
        else:
            fraction_value = 0
        return float(whole) + fraction_value
    else:
        return float(innings_str)

In [85]:
df['IP'] = df['IP'].apply(convert_IP)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      210 non-null    int64
 1   선수명     210 non-null    object
 2   팀명      210 non-null    object
 3   ERA     210 non-null    float64
 4   G       210 non-null    int64
 5   W       210 non-null    int64
 6   L       210 non-null    int64
 7   SV	     210 non-null    int64
 8   HLD     210 non-null    int64
 9   WPCT    187 non-null    float64
 10  IP      210 non-null    float64
 11  H       210 non-null    int64
 12  HR      210 non-null    int64
 13  BB      210 non-null    int64
 14  HBP     210 non-null    int64
 15  SO      210 non-null    int64
 16  R       210 non-null    int64
 17  ER      210 non-null    int64
 18  WHIP    210 non-null    float64
dtypes: float64(4), int64(13), object(2)
memory usage: 31.3+ KB

In [86]:
df.to_csv('pitcher_data.csv', index = False)

In [87]:
p_df = pd.read_csv('./pitcher_data.csv')
p_df

,순위,선수명,팀명,ERA,G,W,L,SV\t,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
0,1,김진성,LG,2.18,80,5,1,4,21,0.833,70.333333,41,8,26,0,69,17,17,0.95
1,2,노경은,SSG,3.58,76,9,5,2,30,0.643,83.000000,78,4,36,4,65,33,33,1.37
2,2,김범수,한화,4.19,76,5,5,1,18,0.500,62.333333,64,3,33,3,52,33,29,1.56
3,4,고효준,SSG,4.50,73,4,1,0,13,0.800,58.000000,49,3,42,3,66,31,29,1.57
4,5,김태훈,삼성,7.11,71,6,7,3,11,0.462,63.333333,74,8,43,3,40,54,50,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,204,허윤동,삼성,10.13,7,0,1,0,0,0.000,10.666667,16,0,12,0,8,12,12,2.63
206,204,황동재,삼성,7.11,7,0,5,0,0,0.000,31.666667,40,6,21,2,27,27,25,1.93
207,204,김유성,두산,9.95,7,0,0,0,0,NaN,6.333333,6,2,12,0,6,7,7,2.84
208,204,김정우,두산,9.45,7,0,0,0,0,NaN,6.666667,11,1,7,0,6,7,7,2.70
209,210,정성곤,SSG,10.38,6,0,0,0,0,NaN,4.333333,8,2,7,0,3,9,5,3.46

In [88]:
p_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      210 non-null    int64
 1   선수명     210 non-null    object
 2   팀명      210 non-null    object
 3   ERA     210 non-null    float64
 4   G       210 non-null    int64
 5   W       210 non-null    int64
 6   L       210 non-null    int64
 7   SV	     210 non-null    int64
 8   HLD     210 non-null    int64
 9   WPCT    187 non-null    float64
 10  IP      210 non-null    float64
 11  H       210 non-null    int64
 12  HR      210 non-null    int64
 13  BB      210 non-null    int64
 14  HBP     210 non-null    int64
 15  SO      210 non-null    int64
 16  R       210 non-null    int64
 17  ER      210 non-null    int64
 18  WHIP    210 non-null    float64
dtypes: float64(4), int64(13), object(2)
memory usage: 31.3+ KB

In [89]:
p_df.describe()

,순위,ERA,G,W,L,SV\t,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,187.00000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,103.742857,4.734000,31.542857,3.357143,3.309524,1.680952,3.457143,0.46446,59.604762,59.928571,4.228571,23.314286,3.161905,46.576190,30.138095,26.900000,1.544238
std,60.092676,2.013693,19.190323,3.614309,2.877799,5.953417,6.008811,0.29479,44.673818,42.858169,3.448201,14.958516,3.204733,38.367854,19.330789,17.200882,0.394507
min,1.000000,0.900000,6.000000,0.000000,0.000000,0.000000,0.000000,0.00000,4.333333,4.000000,0.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.840000
25%,51.750000,3.522500,16.000000,1.000000,1.000000,0.000000,0.000000,0.25000,27.750000,29.000000,2.000000,13.000000,1.000000,17.250000,16.000000,14.000000,1.320000
50%,104.000000,4.345000,26.000000,2.000000,3.000000,0.000000,0.000000,0.50000,49.833333,51.000000,3.500000,20.000000,2.000000,38.000000,26.000000,23.500000,1.485000
75%,155.000000,5.620000,46.500000,5.000000,5.000000,0.000000,4.750000,0.64300,73.500000,76.750000,6.000000,29.750000,4.000000,62.000000,39.000000,35.750000,1.687500
max,210.000000,15.880000,80.000000,20.000000,12.000000,42.000000,32.000000,1.00000,192.000000,183.000000,16.000000,93.000000,19.000000,209.000000,92.000000,84.000000,3.710000

In [90]:
p_df.isna().sum()

순위       0
선수명      0
팀명       0
ERA      0
G        0
W        0
L        0
SV\t     0
HLD      0
WPCT    23
IP       0
H        0
HR       0
BB       0
HBP      0
SO       0
R        0
ER       0
WHIP     0
dtype: int64

In [97]:
sum(p_df['IP'] >= 48)

108

In [105]:
from bs4 import BeautifulSoup
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.by import By
from selenium import webdriver

In [135]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# 접속하기 위한 암묵적인 코드
headers = {'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.114 Safari/537.36'}
# 접속 링크
r = requests.get('https://www.koreabaseball.com/Record/Player/PitcherBasic/Basic1.aspx?cphContents_cphContents_cphContents_ddlSeason_ddlSeason.select02.selected:value=2023&ddlTeam=KT&sort=ERA_RT')

soup = BeautifulSoup(r.content, 'html.parser')

player_html = soup.select('div.record_result > table > tbody > tr')
player_thead = soup.select('div.record_result > table > thead > tr > th')

# 행 전체 저장 
player_tr = []
# 행 한 줄 저장 
player_td = [] 

# 행 한 줄씩 저장 
for i in range(0,len(player_html)):
  player_tr.append(player_html[i].select('td'))

# 전체 표 
player_data = []

# 모든 내용 뽑기
for i in range(len(player_tr)):
  player_td = player_tr[i]
 # 한 줄 
  player_line = []
  for j in range(len(player_td)):
    # 한 줄 만들기 
    player_line.append(player_td[j].text)

  # 한 줄씩 넣어서 전체 표 만들기 
  player_data.append(player_line)

# 데이터 프레임 만들기 
player = pd.DataFrame(player_data)

player_columns = []
for i in range(len(player_thead)):
  player_columns.append(player_thead[i].text)

player.columns = player_columns
player = player.set_index('순위')

player

,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
순위,,,,,,,,,,,,,,,,,,
1,하트,NC,2.34,21,10,2,0,0,0.833,131,105,7,30,6,143,38,34,1.03
2,네일,KIA,2.62,25,11,5,0,0,0.688,144 1/3,150,11,32,9,137,69,42,1.26
3,후라도,키움,3.19,24,10,5,0,0,0.667,152 1/3,150,13,28,5,138,56,54,1.17
4,원태인,삼성,3.47,22,11,6,0,0,0.647,127,112,13,36,6,94,52,49,1.17
5,헤이수스,키움,3.54,24,11,8,0,0,0.579,137 1/3,133,17,35,11,142,62,54,1.22
6,양현종,KIA,3.63,23,9,3,0,0,0.750,139,135,15,32,6,99,62,56,1.20
7,코너,삼성,3.69,24,9,5,0,0,0.643,136 2/3,123,20,33,16,132,62,56,1.14
8,레예스,삼성,3.75,23,9,4,0,0,0.692,127 1/3,144,13,27,4,100,57,53,1.34
9,윌커슨,롯데,3.91,25,9,8,0,0,0.529,152,169,16,16,2,139,71,66,1.22
10,류현진,한화,3.97,23,7,7,0,0,0.500,131 1/3,151,7,28,2,113,68,58,1.36
11,쿠에바스,KT,4.06,24,5,10,0,0,0.333,137 1/3,121,12,49,4,121,66,62,1.24
12,곽빈,두산,4.10,24,11,8,0,0,0.579,134,111,8,63,3,124,64,61,1.30
13,벤자민,KT,4.15,21,9,6,0,0,0.600,117,100,20,35,3,123,62,54,1.15
14,하영민,키움,4.18,22,9,6,0,0,0.600,118 1/3,129,7,47,3,80,61,55,1.49
15,엔스,LG,4.22,25,9,6,0,0,0.600,138 2/3,140,12,42,5,132,70,65,1.31
16,엄상백,KT,5.12,24,10,9,0,0,0.526,130,133,24,33,5,140,76,74,1.28
17,김광현,SSG,5.34,24,7,9,0,0,0.438,124 2/3,127,19,51,6,121,79,74,1.43
18,박세웅,롯데,5.39,23,6,9,0,0,0.400,128 2/3,149,10,49,9,89,86,77,1.54

In [157]:
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from bs4 import BeautifulSoup as bs
from datetime import datetime, timedelta
import time
import pandas as pd
import re
import zipfile
import os
import requests
from tqdm import tqdm

url_base = 'https://www.koreabaseball.com/Record/Player/{category}'
category_list = ['PitcherBasic/Basic1.aspx', 'PitcherBasic/Basic2.aspx']

driver = webdriver.Chrome()
driver.implicitly_wait(3)

baseball_data = []

for category in category_list:
    url = url_base.format(category=category)
    driver.get(url)
    team_list = [x.strip() for x in driver.find_element(By.ID, 'cphContents_cphContents_cphContents_ddlTeam_ddlTeam').text.split('\n') if len(x) > 1]
    category_data_list = []

    for team in tqdm(team_list):
        # 연도 선택
        driver.find_element(By.CLASS_NAME, 'select02').click()
        xpath_format = '//option[@value="2023"]'
        driver.find_element(By.XPATH, xpath_format).click()

        # 팀 선택 시에 요소를 다시 찾음
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.ID, 'cphContents_cphContents_cphContents_ddlTeam_ddlTeam'))).click()
        
        xpath_format2 = f'//option[text()="{team}"]'
        
        WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, xpath_format2))).click()

        # 테이블 데이터 수집
        temp_list = [x.split(' ') for x in driver.find_element(By.TAG_NAME, 'table').text.split('\n')]
        temp_data = pd.DataFrame(columns=temp_list[0])

        for i, temp in enumerate(temp_list[1:]):
            try:
                temp_data.loc[i] = temp
                time.sleep(0.5)
            except:
                ip_index = temp_list[0].index('IP')
                ip = temp[ip_index]
                del temp[13]
                temp[13] = ip + ' ' + temp[13]
                
                temp_data.loc[i] = temp
                time.sleep(0.5)

        temp_data['Team'] = team
        category_data_list.append(temp_data)
        time.sleep(1)
    
    category_data = pd.concat(category_data_list)
    baseball_data.append(category_data)

driver.quit()

 18%|█▊        | 2/11 [00:21<01:34, 10.54s/it]

ElementClickInterceptedException: Message: element click intercepted: Element <select name="ctl00$ctl00$ctl00$cphContents$cphContents$cphContents$ddlSeason$ddlSeason" onchange="javascript:setTimeout('__doPostBack(\'ctl00$ctl00$ctl00$cphContents$cphContents$cphContents$ddlSeason$ddlSeason\',\'\')', 0)" id="cphContents_cphContents_cphContents_ddlSeason_ddlSeason" class="select02">...</select> is not clickable at point (321, 42). Other element would receive the click: <a href="/Record/Player/HitterBasic/Basic1.aspx?sort=HRA_RT">...</a>
  (Session info: chrome=127.0.6533.120)
Stacktrace:
	GetHandleVerifier [0x00007FF7BD9E9642+30946]
	(No symbol) [0x00007FF7BD99E3D9]
	(No symbol) [0x00007FF7BD896FDA]
	(No symbol) [0x00007FF7BD8EFEEE]
	(No symbol) [0x00007FF7BD8ED962]
	(No symbol) [0x00007FF7BD8EAE7B]
	(No symbol) [0x00007FF7BD8EA095]
	(No symbol) [0x00007FF7BD8DC271]
	(No symbol) [0x00007FF7BD90CA6A]
	(No symbol) [0x00007FF7BD8DBBB6]
	(No symbol) [0x00007FF7BD90CC80]
	(No symbol) [0x00007FF7BD92B041]
	(No symbol) [0x00007FF7BD90C813]
	(No symbol) [0x00007FF7BD8DA6E5]
	(No symbol) [0x00007FF7BD8DB021]
	GetHandleVerifier [0x00007FF7BDB1F84D+1301229]
	GetHandleVerifier [0x00007FF7BDB2BDC7+1351783]
	GetHandleVerifier [0x00007FF7BDB22A13+1313971]
	GetHandleVerifier [0x00007FF7BDA1DD16+245686]
	(No symbol) [0x00007FF7BD9A759F]
	(No symbol) [0x00007FF7BD9A3814]
	(No symbol) [0x00007FF7BD9A39A2]
	(No symbol) [0x00007FF7BD99A3FF]
	BaseThreadInitThunk [0x00007FFB4385257D+29]
	RtlUserThreadStart [0x00007FFB4452AF28+40]