In [ ]:
import pandas as pd
import numpy as np
import os

:

In [74]:
#df = pd.read_csv('./pitcher/pitcher.csv')
#df

,순위,선수명,팀명,ERA,G,W,L,SV\t,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
0,1,김진성,LG,2.18,80,5,1,4,21,0.833,70 1/3,41,8,26,0,69,17,17,0.95
1,2,노경은,SSG,3.58,76,9,5,2,30,0.643,83,78,4,36,4,65,33,33,1.37
2,2,김범수,한화,4.19,76,5,5,1,18,0.500,62 1/3,64,3,33,3,52,33,29,1.56
3,4,고효준,SSG,4.50,73,4,1,0,13,0.800,58,49,3,42,3,66,31,29,1.57
4,5,김태훈,삼성,7.11,71,6,7,3,11,0.462,63 1/3,74,8,43,3,40,54,50,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,204,허윤동,삼성,10.13,7,0,1,0,0,0.000,10 2/3,16,0,12,0,8,12,12,2.63
206,204,황동재,삼성,7.11,7,0,5,0,0,0.000,31 2/3,40,6,21,2,27,27,25,1.93
207,204,김유성,두산,9.95,7,0,0,0,0,-,6 1/3,6,2,12,0,6,7,7,2.84
208,204,김정우,두산,9.45,7,0,0,0,0,-,6 2/3,11,1,7,0,6,7,7,2.70
209,210,정성곤,SSG,10.38,6,0,0,0,0,-,4 1/3,8,2,7,0,3,9,5,3.46

In [76]:
#df.isna().sum()

순위      0
선수명     0
팀명      0
ERA     0
G       0
W       0
L       0
SV\t    0
HLD     0
WPCT    0
IP      0
H       0
HR      0
BB      0
HBP     0
SO      0
R       0
ER      0
WHIP    0
dtype: int64

In [78]:
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      210 non-null    int64
 1   선수명     210 non-null    object
 2   팀명      210 non-null    object
 3   ERA     210 non-null    float64
 4   G       210 non-null    int64
 5   W       210 non-null    int64
 6   L       210 non-null    int64
 7   SV	     210 non-null    int64
 8   HLD     210 non-null    int64
 9   WPCT    210 non-null    object
 10  IP      210 non-null    object
 11  H       210 non-null    int64
 12  HR      210 non-null    int64
 13  BB      210 non-null    int64
 14  HBP     210 non-null    int64
 15  SO      210 non-null    int64
 16  R       210 non-null    int64
 17  ER      210 non-null    int64
 18  WHIP    210 non-null    float64
dtypes: float64(2), int64(13), object(4)
memory usage: 31.3+ KB

In [77]:
#df.describe()

,순위,ERA,G,W,L,SV\t,HLD,H,HR,BB,HBP,SO,R,ER,WHIP
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,103.742857,4.734000,31.542857,3.357143,3.309524,1.680952,3.457143,59.928571,4.228571,23.314286,3.161905,46.576190,30.138095,26.900000,1.544238
std,60.092676,2.013693,19.190323,3.614309,2.877799,5.953417,6.008811,42.858169,3.448201,14.958516,3.204733,38.367854,19.330789,17.200882,0.394507
min,1.000000,0.900000,6.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.840000
25%,51.750000,3.522500,16.000000,1.000000,1.000000,0.000000,0.000000,29.000000,2.000000,13.000000,1.000000,17.250000,16.000000,14.000000,1.320000
50%,104.000000,4.345000,26.000000,2.000000,3.000000,0.000000,0.000000,51.000000,3.500000,20.000000,2.000000,38.000000,26.000000,23.500000,1.485000
75%,155.000000,5.620000,46.500000,5.000000,5.000000,0.000000,4.750000,76.750000,6.000000,29.750000,4.000000,62.000000,39.000000,35.750000,1.687500
max,210.000000,15.880000,80.000000,20.000000,12.000000,42.000000,32.000000,183.000000,16.000000,93.000000,19.000000,209.000000,92.000000,84.000000,3.710000

In [83]:
#df['WPCT'] = pd.to_numeric(df['WPCT'].replace("-", np.nan))
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      210 non-null    int64
 1   선수명     210 non-null    object
 2   팀명      210 non-null    object
 3   ERA     210 non-null    float64
 4   G       210 non-null    int64
 5   W       210 non-null    int64
 6   L       210 non-null    int64
 7   SV	     210 non-null    int64
 8   HLD     210 non-null    int64
 9   WPCT    187 non-null    float64
 10  IP      210 non-null    object
 11  H       210 non-null    int64
 12  HR      210 non-null    int64
 13  BB      210 non-null    int64
 14  HBP     210 non-null    int64
 15  SO      210 non-null    int64
 16  R       210 non-null    int64
 17  ER      210 non-null    int64
 18  WHIP    210 non-null    float64
dtypes: float64(3), int64(13), object(3)
memory usage: 31.3+ KB

In [84]:
#def convert_IP(innings_str):
    #if ' ' in innings_str:
        #whole, fraction = innings_str.split(' ')
        #if fraction == '1/3':
            #fraction_value = 1/3
        #elif fraction == '2/3':
        #    fraction_value = 2/3
        #else:
        #    fraction_value = 0
        #return float(whole) + fraction_value
    #else:
    #    return float(innings_str)

In [85]:
#df['IP'] = df['IP'].apply(convert_IP)
#df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      210 non-null    int64
 1   선수명     210 non-null    object
 2   팀명      210 non-null    object
 3   ERA     210 non-null    float64
 4   G       210 non-null    int64
 5   W       210 non-null    int64
 6   L       210 non-null    int64
 7   SV	     210 non-null    int64
 8   HLD     210 non-null    int64
 9   WPCT    187 non-null    float64
 10  IP      210 non-null    float64
 11  H       210 non-null    int64
 12  HR      210 non-null    int64
 13  BB      210 non-null    int64
 14  HBP     210 non-null    int64
 15  SO      210 non-null    int64
 16  R       210 non-null    int64
 17  ER      210 non-null    int64
 18  WHIP    210 non-null    float64
dtypes: float64(4), int64(13), object(2)
memory usage: 31.3+ KB

In [86]:
#df.to_csv('pitcher_data.csv', index = False)

In [87]:
#p_df = pd.read_csv('./pitcher_data.csv')
#p_df

,순위,선수명,팀명,ERA,G,W,L,SV\t,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
0,1,김진성,LG,2.18,80,5,1,4,21,0.833,70.333333,41,8,26,0,69,17,17,0.95
1,2,노경은,SSG,3.58,76,9,5,2,30,0.643,83.000000,78,4,36,4,65,33,33,1.37
2,2,김범수,한화,4.19,76,5,5,1,18,0.500,62.333333,64,3,33,3,52,33,29,1.56
3,4,고효준,SSG,4.50,73,4,1,0,13,0.800,58.000000,49,3,42,3,66,31,29,1.57
4,5,김태훈,삼성,7.11,71,6,7,3,11,0.462,63.333333,74,8,43,3,40,54,50,1.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,204,허윤동,삼성,10.13,7,0,1,0,0,0.000,10.666667,16,0,12,0,8,12,12,2.63
206,204,황동재,삼성,7.11,7,0,5,0,0,0.000,31.666667,40,6,21,2,27,27,25,1.93
207,204,김유성,두산,9.95,7,0,0,0,0,NaN,6.333333,6,2,12,0,6,7,7,2.84
208,204,김정우,두산,9.45,7,0,0,0,0,NaN,6.666667,11,1,7,0,6,7,7,2.70
209,210,정성곤,SSG,10.38,6,0,0,0,0,NaN,4.333333,8,2,7,0,3,9,5,3.46

In [88]:
#p_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 19 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순위      210 non-null    int64
 1   선수명     210 non-null    object
 2   팀명      210 non-null    object
 3   ERA     210 non-null    float64
 4   G       210 non-null    int64
 5   W       210 non-null    int64
 6   L       210 non-null    int64
 7   SV	     210 non-null    int64
 8   HLD     210 non-null    int64
 9   WPCT    187 non-null    float64
 10  IP      210 non-null    float64
 11  H       210 non-null    int64
 12  HR      210 non-null    int64
 13  BB      210 non-null    int64
 14  HBP     210 non-null    int64
 15  SO      210 non-null    int64
 16  R       210 non-null    int64
 17  ER      210 non-null    int64
 18  WHIP    210 non-null    float64
dtypes: float64(4), int64(13), object(2)
memory usage: 31.3+ KB

In [89]:
#p_df.describe()

,순위,ERA,G,W,L,SV\t,HLD,WPCT,IP,H,HR,BB,HBP,SO,R,ER,WHIP
count,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,187.00000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000,210.000000
mean,103.742857,4.734000,31.542857,3.357143,3.309524,1.680952,3.457143,0.46446,59.604762,59.928571,4.228571,23.314286,3.161905,46.576190,30.138095,26.900000,1.544238
std,60.092676,2.013693,19.190323,3.614309,2.877799,5.953417,6.008811,0.29479,44.673818,42.858169,3.448201,14.958516,3.204733,38.367854,19.330789,17.200882,0.394507
min,1.000000,0.900000,6.000000,0.000000,0.000000,0.000000,0.000000,0.00000,4.333333,4.000000,0.000000,1.000000,0.000000,2.000000,2.000000,1.000000,0.840000
25%,51.750000,3.522500,16.000000,1.000000,1.000000,0.000000,0.000000,0.25000,27.750000,29.000000,2.000000,13.000000,1.000000,17.250000,16.000000,14.000000,1.320000
50%,104.000000,4.345000,26.000000,2.000000,3.000000,0.000000,0.000000,0.50000,49.833333,51.000000,3.500000,20.000000,2.000000,38.000000,26.000000,23.500000,1.485000
75%,155.000000,5.620000,46.500000,5.000000,5.000000,0.000000,4.750000,0.64300,73.500000,76.750000,6.000000,29.750000,4.000000,62.000000,39.000000,35.750000,1.687500
max,210.000000,15.880000,80.000000,20.000000,12.000000,42.000000,32.000000,1.00000,192.000000,183.000000,16.000000,93.000000,19.000000,209.000000,92.000000,84.000000,3.710000

In [90]:
#p_df.isna().sum()

순위       0
선수명      0
팀명       0
ERA      0
G        0
W        0
L        0
SV\t     0
HLD      0
WPCT    23
IP       0
H        0
HR       0
BB       0
HBP      0
SO       0
R        0
ER       0
WHIP     0
dtype: int64

In [97]:
#sum(p_df['IP'] >= 48)

108

In [11]:
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException
from bs4 import BeautifulSoup as bs
from datetime import datetime, timedelta
import time
import pandas as pd
import re
import zipfile
import os
import requests
from tqdm import tqdm
from webdriver_manager.chrome import ChromeDriverManager

url_base = 'https://www.koreabaseball.com/Record/Player/{category}'
category_list = ['PitcherBasic/Basic1.aspx', 'PitcherBasic/Basic2.aspx']

driver = webdriver.Chrome(ChromeDriverManager().install())
driver.implicitly_wait(3)

# 팀별로 데이터를 저장할 딕셔너리
team_data_dict = {}

# 카테고리별로 컬럼 설정
columns_dict = {
    'PitcherBasic/Basic1.aspx': ['순위', '선수명', '팀명', 'ERA', 'G', 'W', 'L', 'SV', 'HLD', 'WPCT', 'IP', 'H', 'HR', 'BB', 'HBP', 'SO', 'R', 'ER', 'WHIP'],
    'PitcherBasic/Basic2.aspx': ['순위', '선수명', '팀명', 'ERA', 'CG', 'SHO', 'QS', 'BSV', 'TBF', 'NP', 'AVG', '2B', '3B', 'SAC', 'SF', 'IBB', 'WP', 'BK']
}

for category in category_list:
    url = url_base.format(category=category)
    driver.get(url)
    team_list = [x.strip() for x in driver.find_element(By.ID, 'cphContents_cphContents_cphContents_ddlTeam_ddlTeam').text.split('\n') if len(x) > 1]

    for team in tqdm(team_list):
        # 연도 선택
        driver.find_element(By.CLASS_NAME, 'select02').click()
        xpath_format = '//option[@value="2023"]'
        driver.find_element(By.XPATH, xpath_format).click()

        # 팀 선택 시에 요소를 다시 찾음
        try:
            team_dropdown = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.ID, 'cphContents_cphContents_cphContents_ddlTeam_ddlTeam')))
            team_dropdown.click()
            
            xpath_format2 = f'//option[text()="{team}"]'
            
            team_option = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, xpath_format2)))
            team_option.click()
        except StaleElementReferenceException:
            time.sleep(1)  # 잠시 대기 후 재시도
            team_dropdown = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.ID, 'cphContents_cphContents_cphContents_ddlTeam_ddlTeam')))
            team_dropdown.click()
            
            team_option = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, xpath_format2)))
            team_option.click()

        # 테이블 데이터 수집
        temp_list = [x.split(' ') for x in driver.find_element(By.TAG_NAME, 'table').text.split('\n')]
        temp_data = pd.DataFrame(columns=columns_dict[category])

        for i, temp in enumerate(temp_list[1:]):
            try:
                temp_data.loc[i] = temp
            except:
                ip_index = temp_list[0].index('IP')
                ip = temp[ip_index]
                del temp[13]
                temp[13] = ip + ' ' + temp[13]
                temp_data.loc[i] = temp

        # 팀별 데이터프레임에 합치기
        if team in team_data_dict:
            team_data_dict[team] = pd.merge(team_data_dict[team], temp_data, on=['순위', '선수명', '팀명'], how='outer')
        else:
            team_data_dict[team] = temp_data

        time.sleep(1)

driver.quit()

# 결과 확인 (예: 두산 팀 데이터)
team_data_dict['두산'].head()

# 결과를 CSV로 저장 (옵션)
for team, df in team_data_dict.items():
    df.to_csv(f'{team}_pitching_data.csv', index=False)

C:\Users\jayiu\AppData\Local\Temp\ipykernel_29504\4083290090.py:21: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())
100%|██████████| 11/11 [00:32<00:00,  2.99s/it]
100%|██████████| 11/11 [00:15<00:00,  1.37s/it]

In [14]:
kt_df = pd.read_csv('./KT_pitching_data.csv')
kt_df

,순위,선수명,팀명,ERA_x,G,W,L,SV,HLD,WPCT,...,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,강건,KT,1.35,4,0,0,1,0,-,...,28,108,0.167,2,0,1,0,0,1,0
1,11,이상동,KT,3.98,36,4,1,0,1,0.800,...,179,672,0.280,10,0,3,0,2,1,0
2,12,하준호,KT,4.15,12,0,1,0,0,0.000,...,65,230,0.304,1,0,4,0,2,4,0
3,13,이선우,KT,4.34,22,0,2,0,0,0.000,...,169,589,0.305,6,0,0,2,0,0,0
4,14,전용주,KT,4.35,15,0,1,0,1,0.000,...,43,173,0.167,4,0,0,0,0,4,0
5,15,주권,KT,4.40,42,1,2,0,5,0.333,...,205,714,0.278,7,1,5,3,2,0,0
6,16,배제성,KT,4.49,26,8,10,0,0,0.444,...,596,2331,0.289,20,1,9,9,0,9,1
7,17,김영현,KT,5.45,31,0,0,1,1,-,...,150,563,0.238,7,0,2,1,1,2,0
8,18,슐서,KT,5.62,9,1,7,0,0,0.125,...,221,815,0.333,9,1,6,3,1,2,0
9,19,조현우,KT,6.00,5,0,0,0,0,-,...,17,63,0.400,1,0,0,0,0,1,0
10,2,쿠에바스,KT,2.60,18,12,0,0,0,1.000,...,460,1666,0.224,10,2,5,5,1,5,0
11,20,조이현,KT,6.69,18,2,1,0,1,0.667,...,170,585,0.389,14,1,1,4,0,1,1
12,21,김민,KT,6.83,16,1,2,0,0,0.333,...,145,520,0.325,6,0,1,1,0,4,0
13,22,김민수,KT,6.92,14,0,1,0,3,0.000,...,58,203,0.354,5,2,3,2,0,0,0
14,23,이채호,KT,6.93,25,0,1,0,1,0.000,...,110,390,0.274,6,0,1,2,0,1,0
15,24,김태오,KT,7.36,5,0,0,0,0,-,...,35,142,0.345,3,0,0,2,1,0,0
16,25,소형준,KT,11.45,3,0,0,0,0,-,...,59,230,0.423,4,0,1,0,0,2,0
17,3,김재윤,KT,2.60,59,5,5,32,0,0.500,...,262,1005,0.227,5,2,8,2,5,3,0
18,4,박영현,KT,2.75,68,3,3,4,32,0.500,...,308,1220,0.230,11,2,7,2,4,1,2
19,5,고영표,KT,2.78,28,12,7,0,0,0.632,...,706,2453,0.269,27,5,2,3,1,6,0
20,6,손동현,KT,3.42,64,8,5,1,15,0.615,...,301,1100,0.256,11,0,9,4,1,2,0
21,7,벤자민,KT,3.54,29,15,6,0,0,0.714,...,684,2636,0.240,23,1,9,5,1,11,0
22,8,엄상백,KT,3.63,20,7,6,0,0,0.538,...,454,1790,0.241,16,4,4,4,0,1,0
23,9,김정운,KT,3.86,5,0,0,0,0,-,...,35,138,0.222,2,0,0,0,0,0,0
24,9,박세진,KT,3.86,16,0,1,0,1,0.000,...,66,272,0.288,2,0,0,0,0,2,0

In [15]:
kt_df.columns

Index(['순위', '선수명', '팀명', 'ERA_x', 'G', 'W', 'L', 'SV', 'HLD', 'WPCT', 'IP',
       'H', 'HR', 'BB', 'HBP', 'SO', 'R', 'ER', 'WHIP', 'ERA_y', 'CG', 'SHO',
       'QS', 'BSV', 'TBF', 'NP', 'AVG', '2B', '3B', 'SAC', 'SF', 'IBB', 'WP',
       'BK'],
      dtype='object')

In [18]:
kt_data = kt_df.sort_values('순위')

In [19]:
kt_data

,순위,선수명,팀명,ERA_x,G,W,L,SV,HLD,WPCT,...,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,강건,KT,1.35,4,0,0,1,0,-,...,28,108,0.167,2,0,1,0,0,1,0
10,2,쿠에바스,KT,2.60,18,12,0,0,0,1.000,...,460,1666,0.224,10,2,5,5,1,5,0
17,3,김재윤,KT,2.60,59,5,5,32,0,0.500,...,262,1005,0.227,5,2,8,2,5,3,0
18,4,박영현,KT,2.75,68,3,3,4,32,0.500,...,308,1220,0.230,11,2,7,2,4,1,2
19,5,고영표,KT,2.78,28,12,7,0,0,0.632,...,706,2453,0.269,27,5,2,3,1,6,0
20,6,손동현,KT,3.42,64,8,5,1,15,0.615,...,301,1100,0.256,11,0,9,4,1,2,0
21,7,벤자민,KT,3.54,29,15,6,0,0,0.714,...,684,2636,0.240,23,1,9,5,1,11,0
22,8,엄상백,KT,3.63,20,7,6,0,0,0.538,...,454,1790,0.241,16,4,4,4,0,1,0
23,9,김정운,KT,3.86,5,0,0,0,0,-,...,35,138,0.222,2,0,0,0,0,0,0
24,9,박세진,KT,3.86,16,0,1,0,1,0.000,...,66,272,0.288,2,0,0,0,0,2,0
1,11,이상동,KT,3.98,36,4,1,0,1,0.800,...,179,672,0.280,10,0,3,0,2,1,0
2,12,하준호,KT,4.15,12,0,1,0,0,0.000,...,65,230,0.304,1,0,4,0,2,4,0
3,13,이선우,KT,4.34,22,0,2,0,0,0.000,...,169,589,0.305,6,0,0,2,0,0,0
4,14,전용주,KT,4.35,15,0,1,0,1,0.000,...,43,173,0.167,4,0,0,0,0,4,0
5,15,주권,KT,4.40,42,1,2,0,5,0.333,...,205,714,0.278,7,1,5,3,2,0,0
6,16,배제성,KT,4.49,26,8,10,0,0,0.444,...,596,2331,0.289,20,1,9,9,0,9,1
7,17,김영현,KT,5.45,31,0,0,1,1,-,...,150,563,0.238,7,0,2,1,1,2,0
8,18,슐서,KT,5.62,9,1,7,0,0,0.125,...,221,815,0.333,9,1,6,3,1,2,0
9,19,조현우,KT,6.00,5,0,0,0,0,-,...,17,63,0.400,1,0,0,0,0,1,0
11,20,조이현,KT,6.69,18,2,1,0,1,0.667,...,170,585,0.389,14,1,1,4,0,1,1
12,21,김민,KT,6.83,16,1,2,0,0,0.333,...,145,520,0.325,6,0,1,1,0,4,0
13,22,김민수,KT,6.92,14,0,1,0,3,0.000,...,58,203,0.354,5,2,3,2,0,0,0
14,23,이채호,KT,6.93,25,0,1,0,1,0.000,...,110,390,0.274,6,0,1,2,0,1,0
15,24,김태오,KT,7.36,5,0,0,0,0,-,...,35,142,0.345,3,0,0,2,1,0,0
16,25,소형준,KT,11.45,3,0,0,0,0,-,...,59,230,0.423,4,0,1,0,0,2,0

In [20]:
kt_data.to_csv('KT_data.csv', index = False)

In [21]:
kt = pd.read_csv('./KT_data.csv')
kt

,순위,선수명,팀명,ERA_x,G,W,L,SV,HLD,WPCT,...,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,강건,KT,1.35,4,0,0,1,0,-,...,28,108,0.167,2,0,1,0,0,1,0
1,2,쿠에바스,KT,2.60,18,12,0,0,0,1.000,...,460,1666,0.224,10,2,5,5,1,5,0
2,3,김재윤,KT,2.60,59,5,5,32,0,0.500,...,262,1005,0.227,5,2,8,2,5,3,0
3,4,박영현,KT,2.75,68,3,3,4,32,0.500,...,308,1220,0.230,11,2,7,2,4,1,2
4,5,고영표,KT,2.78,28,12,7,0,0,0.632,...,706,2453,0.269,27,5,2,3,1,6,0
5,6,손동현,KT,3.42,64,8,5,1,15,0.615,...,301,1100,0.256,11,0,9,4,1,2,0
6,7,벤자민,KT,3.54,29,15,6,0,0,0.714,...,684,2636,0.240,23,1,9,5,1,11,0
7,8,엄상백,KT,3.63,20,7,6,0,0,0.538,...,454,1790,0.241,16,4,4,4,0,1,0
8,9,김정운,KT,3.86,5,0,0,0,0,-,...,35,138,0.222,2,0,0,0,0,0,0
9,9,박세진,KT,3.86,16,0,1,0,1,0.000,...,66,272,0.288,2,0,0,0,0,2,0
10,11,이상동,KT,3.98,36,4,1,0,1,0.800,...,179,672,0.280,10,0,3,0,2,1,0
11,12,하준호,KT,4.15,12,0,1,0,0,0.000,...,65,230,0.304,1,0,4,0,2,4,0
12,13,이선우,KT,4.34,22,0,2,0,0,0.000,...,169,589,0.305,6,0,0,2,0,0,0
13,14,전용주,KT,4.35,15,0,1,0,1,0.000,...,43,173,0.167,4,0,0,0,0,4,0
14,15,주권,KT,4.40,42,1,2,0,5,0.333,...,205,714,0.278,7,1,5,3,2,0,0
15,16,배제성,KT,4.49,26,8,10,0,0,0.444,...,596,2331,0.289,20,1,9,9,0,9,1
16,17,김영현,KT,5.45,31,0,0,1,1,-,...,150,563,0.238,7,0,2,1,1,2,0
17,18,슐서,KT,5.62,9,1,7,0,0,0.125,...,221,815,0.333,9,1,6,3,1,2,0
18,19,조현우,KT,6.00,5,0,0,0,0,-,...,17,63,0.400,1,0,0,0,0,1,0
19,20,조이현,KT,6.69,18,2,1,0,1,0.667,...,170,585,0.389,14,1,1,4,0,1,1
20,21,김민,KT,6.83,16,1,2,0,0,0.333,...,145,520,0.325,6,0,1,1,0,4,0
21,22,김민수,KT,6.92,14,0,1,0,3,0.000,...,58,203,0.354,5,2,3,2,0,0,0
22,23,이채호,KT,6.93,25,0,1,0,1,0.000,...,110,390,0.274,6,0,1,2,0,1,0
23,24,김태오,KT,7.36,5,0,0,0,0,-,...,35,142,0.345,3,0,0,2,1,0,0
24,25,소형준,KT,11.45,3,0,0,0,0,-,...,59,230,0.423,4,0,1,0,0,2,0

In [32]:
df1 = pd.read_csv('./SSG_pitching_data.csv')
df1 = df1.sort_values('순위')
df1.to_csv('SSG_data.csv', index = False)