In [1]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import re

In [2]:
df_2019 = pd.read_csv('./2019_pitcher_all.csv')
df_2020 = pd.read_csv('./2020_pitcher_all.csv')
df_2021 = pd.read_csv('./2021_pitcher_all.csv')
df_2022 = pd.read_csv('./2022_pitcher_all.csv')
df_2023 = pd.read_csv('./pitcher_all.csv')

In [3]:
df_salary = pd.read_csv('./Salary_WAR_data.csv')

In [4]:
df_salary

       선수    연도    팀   연봉(만원)   WAR
0     양현종  2020  KIA  230,000  4.87
1     최형우  2020  KIA  150,000  6.59
2      가뇽  2020  KIA   65,000  4.68
3     나지완  2020  KIA   60,000  2.01
4      터커  2020  KIA   55,000  3.46
...   ...   ...  ...      ...   ...
4200  박성빈  2024   키움    3,000 -0.07
4201  우승원  2024   키움    3,000  0.00
4202  박윤성  2024   키움    3,000 -0.03
4203  원성준  2024   키움    1,500 -0.22
4204  신효수  2024   키움    1,500  0.00

[4205 rows x 5 columns]

In [5]:
df_2020

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,배창현,두산,0.00,1,0,0,0,0,NaN,...,3,13,0.000,0,0,0,0,0,0,0
1,1,이태오,두산,NaN,1,0,0,0,0,NaN,...,2,9,-,0,0,0,0,0,0,0
2,3,알칸타라,두산,2.54,31,20,2,0,0,0.909,...,795,3144,0.232,38,3,2,4,0,3,1
3,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,317,1230,0.238,12,2,3,2,4,1,0
4,5,최세창,두산,3.00,3,0,0,0,0,NaN,...,15,47,0.333,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,21,이승민,삼성,6.84,7,1,3,0,0,0.250,...,128,497,0.315,5,0,1,0,1,0,0
246,22,심창민,삼성,7.52,23,2,2,0,3,0.500,...,98,412,0.24,0,1,2,1,0,3,0
247,23,정인욱,삼성,8.44,5,0,0,0,0,NaN,...,26,104,0.25,0,0,1,0,0,0,0
248,23,권오준,삼성,8.44,17,0,2,0,1,0.000,...,72,293,0.333,3,1,1,2,0,0,0
249,25,장지훈,삼성,10.08,29,0,1,0,0,0.000,...,146,606,0.331,4,0,1,3,0,5,0

In [6]:
df_2020.duplicated().sum()

0

In [7]:
df_2021.duplicated().sum()

0

In [8]:
df_2022.duplicated().sum()

0

In [9]:
df_2023.duplicated().sum()

0

In [10]:
def del_comma(df):
    rows = []
    for row in df['연봉(만원)']:
        row = ''.join(row)
        row_n = re.sub('[^가-힣0-9]', '', row)
        row_ns = row_n.split()
        row_ns = ''.join(row_ns)
        rows.append(row_ns)
    print(rows)
    df['연봉(만원)'] = rows
    df = df.rename(columns = {'연봉(만원)' : '연봉'})
    df['연봉'] = pd.to_numeric(df['연봉'])
    return df

In [11]:
df_salary = del_comma(df_salary)

['230000', '150000', '65000', '60000', '55000', '47900', '45000', '40000', '13000', '12000', '11000', '11000', '10500', '10500', '9000', '8800', '8700', '8500', '8500', '8000', '7600', '7500', '7000', '7000', '6500', '6000', '6000', '5800', '5000', '5000', '5000', '4700', '4500', '4300', '4000', '4000', '4000', '4000', '3700', '3600', '3600', '3500', '3500', '3500', '3400', '3300', '3100', '3000', '3000', '3000', '3000', '3000', '2900', '2900', '2900', '2900', '2900', '2900', '2900', '2900', '2800', '2800', '2800', '2800', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '125000', '120000', '70000', '70000', '60000', '50000', '40000', '30000', '30000', '28000', '28000', '28000', '25000', '21500', '20000', '19000', '13500', '12000', '11500', '11000', '10000', '10000', '9000', '9000', '8000', '8000', '8000', '8000', '7500', '5500', '5500', '5000', '5000', '5000', '5000', '4500', '4300', '4300', '4000', '4000', '4000', '4000', '4000', '4000', '3800', '3700', '3700', '3500', '3200', '3200', '3200', '3100', '3000', '3000', '3000', '2900', '2900', '2900', '2900', '2900', '2800', '2800', '2800', '2800', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '65000', '65000', '60000', '48000', '47000', '47000', '45000', '45000', '42000', '40000', '40000', '34000', '30000', '30000', '27000', '27000', '23200', '21000', '21000', '19000', '17000', '15000', '14200', '8000', '7000', '5900', '5300', '5200', '5000', '4800', '4700', '4500', '4500', '3600', '3500', '3500', '3200', '3200', '3100', '3100', '2900', '2900', '2800', '2800', '2800', '2800', '2800', '2800', '2800', '2800', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '130000', '120000', '90000', '50000', '45000', '35000', '30000', '29000', '25700', '25000', '24000', '21000', '20000', '18000', '17000', '15000', '14000', '13000', '12000', '12000', '11000', '11000', '10000', '10000', '8300', '7500', '7500', '7500', '5000', '4800', '4600', '4500', '4200', '3700', '3400', '3300', '3200', '3200', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '2900', '2900', '2800', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '130000', '110000', '100000', '90000', '80000', '60000', '40000', '35000', '32000', '30000', '28000', '27000', '25000', '23000', '22000', '21000', '20000', '13500', '13000', '12500', '12000', '11000', '10500', '8000', '8000', '7500', '7500', '7000', '7000', '6000', '5700', '5000', '5000', '5000', '5000', '4700', '4500', '4000', '4000', '3800', '3600', '3500', '3500', '3400', '3400', '3200', '3200', '3100', '3000', '3000', '3000', '3000', '2900', '2900', '2900', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '250000', '200000', '125000', '50000', '50000', '50000', '30000', '29000', '25000', '20000', '12500', '12500', '11000', '10000', '10000', '9000', '8000', '7900', '6400', '6200', '6000', '5700', '5400', '5300', '5100', '5000', '5000', '4700', '4600', '4500', '4300', '4100', '4000', '3800', '3800', '3800', '3400', '3200', '3200', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '2900', '2900', '2900', '2900', '2800', '2800', '2800', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '90000', '80000', '60000', '55000', '50000', '50000', '40000', '35000', '25000', '21000', '20000', '17000', '16000', '16000', '14000', '12000', '12000', '11300', '11000', '11000', '11000', '10500', '8800', '7800', '7000', '6500', '6500', '5800', '5500', '5300', '5000', '5000', '4800', '4500', '4500', '4500', '4200', '4000', '3800', '3800', '3700', '3600', '3500', '3400', '3300', '3300', '3300', '3200', '3200', '3200', '3200', '3000', '3000', '3000', '3000', '2900', '2900', '2900', '2900', '2800', '2800', '2800', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '200000', '100000', '80000', '80000', '70000', '52000', '50000', '30000', '27500', '26000', '24000', '20000', '18000', '16000', '16000', '16000', '15500', '14000', '13500', '12500', '12000', '11500', '10500', '10000', '10000', '9500', '9200', '9000', '8000', '7100', '6300', '5800', '5500', '5000', '4600', '3800', '3400', '3200', '3200', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '2900', '2900', '2900', '2800', '2800', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '120000', '80000', '60000', '50000', '45000', '40000', '21000', '20000', '15000', '15000', '13500', '13000', '12000', '11000', '10000', '10000', '9000', '9000', '8000', '7500', '7000', '7000', '6500', '6500', '4800', '4700', '4500', '4500', '4200', '4000', '4000', '4000', '4000', '3800', '3700', '3500', '3400', '3300', '3300', '3300', '3200', '3000', '3000', '3000', '3000', '2900', '2900', '2900', '2900', '2900', '2900', '2900', '2900', '2900', '2900', '2900', '2800', '2800', '2800', '2800', '2800', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '200000', '80000', '55000', '55000', '54000', '39000', '37000', '35000', '30000', '30000', '29000', '22500', '20000', '20000', '20000', '20000', '14000', '10000', '9800', '9700', '9000', '8800', '8500', '8000', '7000', '5500', '5400', '5000', '4800', '4500', '4500', '4300', '4200', '4200', '4000', '4000', '3700', '3500', '3500', '3200', '3000', '2900', '2900', '2900', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '100000', '90000', '70000', '45000', '42500', '40000', '16000', '14000', '13000', '10500', '10500', '10000', '10000', '10000', '10000', '10000', '9000', '8700', '8500', '8500', '8500', '8500', '8000', '7000', '7000', '6000', '6000', '6000', '6000', '5200', '5000', '5000', '5000', '4500', '4500', '4300', '4100', '4000', '4000', '4000', '3800', '3600', '3500', '3500', '3500', '3500', '3400', '3400', '3300', '3300', '3300', '3200', '3200', '3200', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '110000', '90000', '60000', '50000', '50000', '50000', '45000', '38000', '36000', '30000', '28000', '25500', '25000', '21000', '20000', '16500', '16000', '16000', '15500', '15000', '13000', '12000', '12000', '10000', '10000', '8000', '7500', '7000', '7000', '7000', '7000', '6000', '5700', '5200', '5000', '5000', '5000', '4900', '4700', '4700', '4500', '4500', '4500', '4200', '4000', '4000', '4000', '3800', '3700', '3300', '3300', '3300', '3300', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '100000', '76000', '60000', '60000', '60000', '55000', '49300', '48000', '30000', '30000', '26000', '21000', '19000', '16000', '16000', '15600', '11000', '11000', '10000', '9000', '8000', '7500', '7000', '7000', '6500', '5500', '5000', '5000', '4500', '4500', '4300', '3800', '3800', '3600', '3500', '3500', '3500', '3500', '3400', '3300', '3300', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '270000', '130000', '120000', '90000', '85000', '65000', '55000', '32000', '30000', '25700', '25000', '24600', '20000', '18000', '17000', '16000', '14000', '11000', '10000', '10000', '9500', '8000', '8000', '7500', '7000', '7000', '6500', '5800', '5500', '4000', '3600', '3300', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '2700', '2700', '2700', '100000', '70000', '60000', '60000', '40000', '40000', '30000', '30000', '30000', '30000', '27000', '25000', '22500', '22000', '19000', '18000', '18000', '18000', '16500', '14000', '12000', '10500', '10000', '10000', '9000', '8000', '8000', '7200', '7000', '7000', '6300', '5500', '5500', '5000', '5000', '5000', '5000', '5000', '4500', '4000', '4000', '4000', '3700', '3500', '3300', '3300', '3200', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '90000', '80000', '50000', '50000', '50000', '50000', '29000', '25000', '24500', '20000', '17000', '16500', '15000', '12000', '11000', '10000', '10000', '8500', '7500', '7500', '6000', '5500', '5000', '5000', '4800', '4800', '4700', '4500', '4300', '4200', '4200', '4200', '3700', '3700', '3500', '3500', '3500', '3400', '3400', '3400', '3300', '3200', '3200', '3200', '3200', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '2700', '2700', '2700', '80000', '50000', '40000', '30000', '30000', '26000', '25000', '17300', '15400', '13500', '12000', '12000', '10000', '9000', '8000', '7900', '7900', '7700', '6500', '6100', '6000', '6000', '5800', '5400', '4500', '4100', '4000', '4000', '3900', '3700', '3600', '3600', '3500', '3400', '3400', '3400', '3400', '3300', '3300', '3300', '3300', '3300', '3300', '3300', '3200', '3200', '3200', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '150000', '130000', '110000', '78000', '70000', '63000', '32000', '30000', '30000', '27000', '25000', '23000', '20000', '20000', '20000', '17000', '14000', '13000', '12000', '11500', '11500', '11000', '11000', '10000', '10000', '10000', '8300', '8000', '7200', '6600', '6000', '5000', '5000', '4400', '4400', '4000', '3500', '3300', '3200', '3200', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '80000', '52500', '50000', '50000', '50000', '40000', '31000', '30000', '25000', '21000', '20000', '17000', '17000', '15500', '14000', '14000', '13000', '12000', '10500', '9200', '8000', '8000', '7500', '7500', '7000', '7000', '7000', '6800', '6500', '6500', '6300', '6000', '6000', '6000', '5700', '5500', '5000', '5000', '4700', '4000', '4000', '3800', '3700', '3700', '3500', '3400', '3400', '3300', '3300', '3300', '3200', '3200', '3200', '3200', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '2700', '150000', '75000', '55000', '55000', '50000', '48000', '37100', '33000', '30000', '30000', '29000', '29000', '23000', '20000', '20000', '20000', '17000', '12000', '11000', '10000', '10000', '10000', '9000', '7500', '7000', '7000', '6000', '6000', '6000', '5600', '5300', '5200', '4500', '4500', '4500', '4300', '4300', '4000', '3800', '3700', '3500', '3500', '3500', '3200', '3200', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '2700', '200000', '100000', '90000', '50000', '45000', '35000', '31000', '30000', '30000', '20000', '17000', '15000', '14000', '12500', '12000', '11000', '10500', '10000', '9000', '8500', '7000', '7000', '7000', '6700', '6500', '6500', '6000', '6000', '5300', '4300', '4200', '4100', '4000', '4000', '4000', '4000', '4000', '3900', '3800', '3700', '3600', '3600', '3600', '3600', '3500', '3500', '3500', '3500', '3500', '3500', '3400', '3300', '3200', '3200', '3200', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '250000', '160000', '110000', '80000', '70000', '60000', '60000', '60000', '30000', '30000', '25000', '20000', '20000', '18000', '15000', '12000', '12000', '11000', '10000', '10000', '7000', '7000', '6500', '6500', '6200', '5800', '5700', '5500', '5500', '5500', '5300', '5000', '4700', '4700', '4700', '4500', '4500', '4500', '4100', '4000', '4000', '4000', '3800', '3800', '3700', '3500', '3300', '3300', '3300', '3300', '3300', '3200', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '160000', '150000', '120000', '60000', '60000', '50000', '40000', '39000', '34000', '30000', '30000', '25000', '22500', '16000', '15000', '14500', '14500', '14000', '14000', '13000', '12000', '11500', '11000', '10000', '10000', '8500', '8100', '7800', '6500', '6500', '6000', '6000', '5800', '5000', '5000', '4800', '4500', '4000', '4000', '3700', '3700', '3500', '3500', '3300', '3300', '3300', '3300', '3200', '3200', '3200', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '810000', '270000', '240000', '180000', '160000', '120000', '110000', '100000', '75000', '65000', '60000', '40000', '30000', '20000', '18500', '18000', '16000', '15000', '15000', '14000', '12500', '12000', '12000', '10500', '10500', '10000', '9500', '9000', '7500', '6500', '6500', '6500', '5300', '5000', '4500', '4000', '4000', '4000', '4000', '4000', '3300', '3200', '3200', '3200', '3200', '3200', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '150000', '90000', '60000', '60000', '60000', '50000', '32000', '30000', '30000', '28000', '28000', '27000', '27000', '26000', '20000', '18000', '18000', '15000', '14000', '12500', '12000', '12000', '10500', '10000', '10000', '10000', '9800', '8500', '8000', '7000', '7000', '6800', '6000', '5500', '5500', '5200', '5000', '5000', '5000', '5000', '5000', '4200', '4000', '4000', '4000', '4000', '3900', '3800', '3700', '3500', '3500', '3500', '3500', '3300', '3300', '3200', '3200', '3200', '3200', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '100000', '80000', '60000', '55000', '50000', '50000', '46000', '40000', '31370', '28000', '26000', '18100', '17200', '10700', '9000', '8500', '8400', '7300', '7000', '6500', '6500', '6400', '6400', '6000', '6000', '5800', '5700', '5300', '5300', '5100', '4900', '4800', '4700', '4200', '4100', '4000', '3800', '3600', '3500', '3400', '3300', '3300', '3300', '3300', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '100000', '80000', '70000', '70000', '40000', '35000', '27500', '21000', '20090', '19100', '19080', '15000', '13300', '12840', '12000', '9730', '9680', '7900', '7600', '6400', '6350', '6000', '5800', '5600', '5500', '5400', '5350', '5080', '4800', '4100', '4000', '4000', '3900', '3600', '3600', '3500', '3500', '3400', '3400', '3370', '3300', '3300', '3300', '3300', '3250', '3200', '3200', '3200', '3200', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '190000', '160000', '150000', '100000', '70000', '44000', '44000', '41000', '40000', '28000', '27000', '23000', '19000', '18000', '18000', '17500', '13000', '12500', '12000', '11000', '10500', '10000', '9500', '7500', '7000', '6000', '5500', '5300', '5000', '4900', '4700', '4500', '4300', '4200', '4000', '4000', '4000', '4000', '4000', '4000', '3300', '3300', '3300', '3200', '3200', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '80000', '70000', '65000', '60000', '55000', '50000', '47700', '40000', '30000', '29500', '29000', '28000', '27000', '26000', '26000', '24000', '23100', '20000', '12000', '11500', '11500', '9500', '9000', '9000', '8500', '8200', '8100', '8000', '8000', '6700', '6600', '6500', '5500', '5000', '4700', '4400', '4200', '4100', '4000', '3800', '3500', '3400', '3400', '3300', '3200', '3200', '3200', '3200', '3100', '3100', '3100', '3100', '3100', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '3000', '2800',

In [12]:
df_salary = df_salary.rename(columns = {'선수' : '선수명', '팀' : '팀명'})

In [13]:
df_salary

      선수명    연도   팀명      연봉   WAR
0     양현종  2020  KIA  230000  4.87
1     최형우  2020  KIA  150000  6.59
2      가뇽  2020  KIA   65000  4.68
3     나지완  2020  KIA   60000  2.01
4      터커  2020  KIA   55000  3.46
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[4205 rows x 5 columns]

In [14]:
df_salary = df_salary.replace(to_replace = 'SK', value = 'SSG')

In [15]:
df_salary_sk = df_salary.query('팀명 == "SK"')

In [16]:
df_salary_sk

Empty DataFrame
Columns: [선수명, 연도, 팀명, 연봉, WAR]
Index: []

In [17]:
df_2019 = df_2019.replace(to_replace = 'SK', value = 'SSG')
df_2020 = df_2020.replace(to_replace = 'SK', value = 'SSG')

In [18]:
df_2019['연도'] = 2019
df_2020['연도'] = 2020
df_2021['연도'] = 2021
df_2022['연도'] = 2022
df_2023['연도'] = 2023

In [19]:
df_2023

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK,연도
0,1,백승우,두산,0.00,6,0,0,0,0,NaN,...,78,0.214,0,0,0,0,0,0,0,2023
1,1,이승진,두산,0.00,1,0,0,0,0,NaN,...,24,0.250,0,0,0,0,0,0,0,2023
2,3,브랜든,두산,2.49,18,11,3,0,0,0.786,...,1729,0.213,13,0,8,2,0,3,0,2023
3,4,알칸타라,두산,2.67,31,13,9,0,0,0.591,...,2988,0.236,33,0,10,2,1,3,0,2023
4,5,곽빈,두산,2.90,23,12,7,0,0,0.632,...,2229,0.212,18,1,7,4,0,4,1,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,137,0.357,1,0,0,0,0,0,0,2023
245,22,이기순,SSG,9.00,2,0,0,0,0,NaN,...,63,0.273,0,0,0,1,0,0,0,2023
246,22,한두솔,SSG,9.00,1,0,0,0,0,NaN,...,26,0.250,0,1,0,0,0,0,0,2023
247,24,정성곤,SSG,10.38,6,0,0,0,0,NaN,...,122,0.381,3,0,1,0,0,0,0,2023
248,25,김주온,SSG,81.00,1,0,0,0,0,NaN,...,14,0.667,0,0,0,0,0,1,0,2023

In [20]:
df_2019

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK,연도
0,1,임규빈,키움,0.00,1,0,0,0,0,NaN,...,13,0.250,1,0,0,0,0,0,0,2019
1,2,양현,키움,1.99,29,1,0,0,1,1.000,...,544,0.214,5,1,1,1,0,0,0,2019
2,3,오주원,키움,2.32,57,3,3,18,3,0.500,...,797,0.261,7,0,3,3,0,1,0,2019
3,4,김성민,키움,2.56,50,2,0,0,5,1.000,...,821,0.245,13,1,1,0,0,4,0,2019
4,5,조상우,키움,2.66,48,2,4,20,8,0.333,...,710,0.253,3,0,2,2,0,1,0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,21,김정우,SSG,9.00,1,0,0,0,0,NaN,...,22,0.400,0,0,0,0,0,0,0,2019
237,22,채병용,SSG,9.82,4,0,0,1,1,NaN,...,84,0.438,2,0,1,0,0,0,0,2019
238,23,박정배,SSG,10.07,20,1,1,0,1,0.500,...,311,0.345,10,0,1,1,0,0,0,2019
239,24,정재원,SSG,16.88,4,0,0,0,0,NaN,...,50,0.400,0,0,0,0,0,0,0,2019
240,25,이원준,SSG,19.29,2,0,1,0,0,0.000,...,73,0.300,0,0,0,0,0,0,0,2019

In [21]:
df_2019['연도+1'] = 2020
df_2020['연도+1'] = 2021
df_2021['연도+1'] = 2022
df_2022['연도+1'] = 2023
df_2023['연도+1'] = 2024

In [22]:
df_2023

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,AVG,2B,3B,SAC,SF,IBB,WP,BK,연도,연도+1
0,1,백승우,두산,0.00,6,0,0,0,0,NaN,...,0.214,0,0,0,0,0,0,0,2023,2024
1,1,이승진,두산,0.00,1,0,0,0,0,NaN,...,0.250,0,0,0,0,0,0,0,2023,2024
2,3,브랜든,두산,2.49,18,11,3,0,0,0.786,...,0.213,13,0,8,2,0,3,0,2023,2024
3,4,알칸타라,두산,2.67,31,13,9,0,0,0.591,...,0.236,33,0,10,2,1,3,0,2023,2024
4,5,곽빈,두산,2.90,23,12,7,0,0,0.632,...,0.212,18,1,7,4,0,4,1,2023,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0.357,1,0,0,0,0,0,0,2023,2024
245,22,이기순,SSG,9.00,2,0,0,0,0,NaN,...,0.273,0,0,0,1,0,0,0,2023,2024
246,22,한두솔,SSG,9.00,1,0,0,0,0,NaN,...,0.250,0,1,0,0,0,0,0,2023,2024
247,24,정성곤,SSG,10.38,6,0,0,0,0,NaN,...,0.381,3,0,1,0,0,0,0,2023,2024
248,25,김주온,SSG,81.00,1,0,0,0,0,NaN,...,0.667,0,0,0,0,0,1,0,2023,2024

In [23]:
df_all = pd.concat([df_2019, df_2020, df_2021, df_2022, df_2023])

In [24]:
df_all

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,AVG,2B,3B,SAC,SF,IBB,WP,BK,연도,연도+1
0,1,임규빈,키움,0.00,1,0,0,0,0,NaN,...,0.25,1,0,0,0,0,0,0,2019,2020
1,2,양현,키움,1.99,29,1,0,0,1,1.000,...,0.214,5,1,1,1,0,0,0,2019,2020
2,3,오주원,키움,2.32,57,3,3,18,3,0.500,...,0.261,7,0,3,3,0,1,0,2019,2020
3,4,김성민,키움,2.56,50,2,0,0,5,1.000,...,0.245,13,1,1,0,0,4,0,2019,2020
4,5,조상우,키움,2.66,48,2,4,20,8,0.333,...,0.253,3,0,2,2,0,1,0,2019,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0.357,1,0,0,0,0,0,0,2023,2024
245,22,이기순,SSG,9.00,2,0,0,0,0,NaN,...,0.273,0,0,0,1,0,0,0,2023,2024
246,22,한두솔,SSG,9.00,1,0,0,0,0,NaN,...,0.25,0,1,0,0,0,0,0,2023,2024
247,24,정성곤,SSG,10.38,6,0,0,0,0,NaN,...,0.381,3,0,1,0,0,0,0,2023,2024
248,25,김주온,SSG,81.00,1,0,0,0,0,NaN,...,0.667,0,0,0,0,0,1,0,2023,2024

In [25]:
df_all = df_all.dropna()

In [26]:
df_all = df_all.drop_duplicates()

In [27]:
df_all

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,AVG,2B,3B,SAC,SF,IBB,WP,BK,연도,연도+1
1,2,양현,키움,1.99,29,1,0,0,1,1.000,...,0.214,5,1,1,1,0,0,0,2019,2020
2,3,오주원,키움,2.32,57,3,3,18,3,0.500,...,0.261,7,0,3,3,0,1,0,2019,2020
3,4,김성민,키움,2.56,50,2,0,0,5,1.000,...,0.245,13,1,1,0,0,4,0,2019,2020
4,5,조상우,키움,2.66,48,2,4,20,8,0.333,...,0.253,3,0,2,2,0,1,0,2019,2020
5,6,윤영삼,키움,2.87,54,3,3,1,3,0.500,...,0.258,12,2,3,3,1,3,0,2019,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,0.289,13,1,3,3,2,3,0,2023,2024
240,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,0.257,9,1,4,4,0,8,2,2023,2024
241,18,임준섭,SSG,5.79,41,0,2,0,4,0.000,...,0.336,6,0,3,1,1,2,0,2023,2024
243,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,0.26,13,1,3,4,0,2,0,2023,2024
244,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0.357,1,0,0,0,0,0,0,2023,2024

In [28]:
df_salary

      선수명    연도   팀명      연봉   WAR
0     양현종  2020  KIA  230000  4.87
1     최형우  2020  KIA  150000  6.59
2      가뇽  2020  KIA   65000  4.68
3     나지완  2020  KIA   60000  2.01
4      터커  2020  KIA   55000  3.46
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[4205 rows x 5 columns]

In [29]:
df_current_salary = pd.merge(df_all, df_salary, on = ['선수명', '팀명', '연도'], how = 'left')

In [30]:
df_current_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,3B,SAC,SF,IBB,WP,BK,연도,연도+1,연봉,WAR
0,2,양현,키움,1.99,29,1,0,0,1,1.000,...,1,1,1,0,0,0,2019,2020,NaN,NaN
1,3,오주원,키움,2.32,57,3,3,18,3,0.500,...,0,3,3,0,1,0,2019,2020,NaN,NaN
2,4,김성민,키움,2.56,50,2,0,0,5,1.000,...,1,1,0,0,4,0,2019,2020,NaN,NaN
3,5,조상우,키움,2.66,48,2,4,20,8,0.333,...,0,2,2,0,1,0,2019,2020,NaN,NaN
4,6,윤영삼,키움,2.87,54,3,3,1,3,0.500,...,2,3,3,1,3,0,2019,2020,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,1,3,3,2,3,0,2023,2024,3000.0,-0.15
936,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,1,4,4,0,8,2,2023,2024,3000.0,0.08
937,18,임준섭,SSG,5.79,41,0,2,0,4,0.000,...,0,3,1,1,2,0,2023,2024,4000.0,-0.12
938,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,1,3,4,0,2,0,2023,2024,50000.0,0.39
939,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0,0,0,0,0,0,2023,2024,3000.0,0.02

In [31]:
df_current_salary = df_current_salary.dropna()

In [32]:
df_current_salary = df_current_salary.drop_duplicates()

In [33]:
df_current_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,3B,SAC,SF,IBB,WP,BK,연도,연도+1,연봉,WAR
176,3,알칸타라,두산,2.54,31,20,2,0,0,0.909,...,3,2,4,0,3,1,2020,2021,45000.0,8.98
177,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,2,3,2,4,1,0,2020,2021,8000.0,1.45
178,6,플렉센,두산,3.01,21,8,4,0,0,0.667,...,0,6,4,2,5,0,2020,2021,60000.0,3.94
179,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,0,2,0,0,0,0,2020,2021,5200.0,0.29
180,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,2,0,1,0,0,0,2020,2021,15000.0,-0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
935,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,1,3,3,2,3,0,2023,2024,3000.0,-0.15
936,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,1,4,4,0,8,2,2023,2024,3000.0,0.08
937,18,임준섭,SSG,5.79,41,0,2,0,4,0.000,...,0,3,1,1,2,0,2023,2024,4000.0,-0.12
938,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,1,3,4,0,2,0,2023,2024,50000.0,0.39
939,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0,0,0,0,0,0,2023,2024,3000.0,0.02

In [34]:
df_salary_pred = df_salary.copy()

In [35]:
df_salary_pred

      선수명    연도   팀명      연봉   WAR
0     양현종  2020  KIA  230000  4.87
1     최형우  2020  KIA  150000  6.59
2      가뇽  2020  KIA   65000  4.68
3     나지완  2020  KIA   60000  2.01
4      터커  2020  KIA   55000  3.46
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[4205 rows x 5 columns]

In [38]:
df_salary_pred = df_salary_pred.query('연도 != 2020')

In [39]:
df_salary_pred

      선수명    연도   팀명      연봉   WAR
841   브룩스  2021  KIA  100000  2.31
842   최형우  2021  KIA   90000  1.51
843    터커  2021  KIA   70000  0.35
844   김선빈  2021  KIA   45000  2.70
845    멩덴  2021  KIA   42500  3.48
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[3364 rows x 5 columns]

In [40]:
df_salary_pred = df_salary_pred.rename(columns = {'연도' : '연도+1'})

In [41]:
df_salary_pred

      선수명  연도+1   팀명      연봉   WAR
841   브룩스  2021  KIA  100000  2.31
842   최형우  2021  KIA   90000  1.51
843    터커  2021  KIA   70000  0.35
844   김선빈  2021  KIA   45000  2.70
845    멩덴  2021  KIA   42500  3.48
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[3364 rows x 5 columns]

In [42]:
df_predict_salary = pd.merge(df_current_salary, df_salary_pred, on = ['선수명', '팀명', '연도+1'], how = 'left')

In [43]:
df_predict_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,SF,IBB,WP,BK,연도,연도+1,연봉_x,WAR_x,연봉_y,WAR_y
0,3,알칸타라,두산,2.54,31,20,2,0,0,0.909,...,4,0,3,1,2020,2021,45000.0,8.98,NaN,NaN
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,2,4,1,0,2020,2021,8000.0,1.45,16000.0,0.18
2,6,플렉센,두산,3.01,21,8,4,0,0,0.667,...,4,2,5,0,2020,2021,60000.0,3.94,NaN,NaN
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,0,0,0,0,2020,2021,5200.0,0.29,4500.0,0.13
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,1,0,0,0,2020,2021,15000.0,-0.37,11000.0,1.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,3,2,3,0,2023,2024,3000.0,-0.15,7400.0,0.49
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,4,0,8,2,2023,2024,3000.0,0.08,4500.0,0.81
762,18,임준섭,SSG,5.79,41,0,2,0,4,0.000,...,1,1,2,0,2023,2024,4000.0,-0.12,NaN,NaN
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,4,0,2,0,2023,2024,50000.0,0.39,110000.0,0.08
764,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0,0,0,0,2023,2024,3000.0,0.02,NaN,NaN

In [44]:
df_predict_salary = df_predict_salary.drop('연도+1', axis = 1)
df_predict_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,SAC,SF,IBB,WP,BK,연도,연봉_x,WAR_x,연봉_y,WAR_y
0,3,알칸타라,두산,2.54,31,20,2,0,0,0.909,...,2,4,0,3,1,2020,45000.0,8.98,NaN,NaN
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,3,2,4,1,0,2020,8000.0,1.45,16000.0,0.18
2,6,플렉센,두산,3.01,21,8,4,0,0,0.667,...,6,4,2,5,0,2020,60000.0,3.94,NaN,NaN
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,2,0,0,0,0,2020,5200.0,0.29,4500.0,0.13
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,0,1,0,0,0,2020,15000.0,-0.37,11000.0,1.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,3,3,2,3,0,2023,3000.0,-0.15,7400.0,0.49
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,4,4,0,8,2,2023,3000.0,0.08,4500.0,0.81
762,18,임준섭,SSG,5.79,41,0,2,0,4,0.000,...,3,1,1,2,0,2023,4000.0,-0.12,NaN,NaN
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,3,4,0,2,0,2023,50000.0,0.39,110000.0,0.08
764,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0,0,0,0,0,2023,3000.0,0.02,NaN,NaN

In [45]:
df_predict_salary = df_predict_salary.drop_duplicates()

In [46]:
df_predict_salary = df_predict_salary.dropna()

In [47]:
df_predict_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,SAC,SF,IBB,WP,BK,연도,연봉_x,WAR_x,연봉_y,WAR_y
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,3,2,4,1,0,2020,8000.0,1.45,16000.0,0.18
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,2,0,0,0,0,2020,5200.0,0.29,4500.0,0.13
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,0,1,0,0,0,2020,15000.0,-0.37,11000.0,1.81
5,9,최원준,두산,3.80,42,10,2,0,0,0.833,...,2,4,0,2,1,2020,5900.0,3.46,16000.0,4.88
7,11,이영하,두산,4.64,42,5,11,6,0,0.313,...,7,6,3,4,1,2020,27000.0,2.39,19000.0,-0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,14,오원석,SSG,5.23,28,8,10,0,0,0.444,...,5,7,0,11,0,2023,14000.0,1.64,14000.0,2.95
759,15,문승원,SSG,5.23,50,5,8,1,9,0.385,...,4,2,1,3,0,2023,70000.0,0.78,18000.0,1.09
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,3,3,2,3,0,2023,3000.0,-0.15,7400.0,0.49
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,4,4,0,8,2,2023,3000.0,0.08,4500.0,0.81
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,3,4,0,2,0,2023,50000.0,0.39,110000.0,0.08

In [48]:
df_predict_salary = df_predict_salary.drop('WAR_y', axis = 1)
df_predict_salary = df_predict_salary.rename(columns = {'연봉_x' : '현재연봉', '연봉_y' : '예측연봉'})
df_predict_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,3B,SAC,SF,IBB,WP,BK,연도,현재연봉,WAR_x,예측연봉
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,2,3,2,4,1,0,2020,8000.0,1.45,16000.0
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,0,2,0,0,0,0,2020,5200.0,0.29,4500.0
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,2,0,1,0,0,0,2020,15000.0,-0.37,11000.0
5,9,최원준,두산,3.80,42,10,2,0,0,0.833,...,3,2,4,0,2,1,2020,5900.0,3.46,16000.0
7,11,이영하,두산,4.64,42,5,11,6,0,0.313,...,1,7,6,3,4,1,2020,27000.0,2.39,19000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,14,오원석,SSG,5.23,28,8,10,0,0,0.444,...,2,5,7,0,11,0,2023,14000.0,1.64,14000.0
759,15,문승원,SSG,5.23,50,5,8,1,9,0.385,...,1,4,2,1,3,0,2023,70000.0,0.78,18000.0
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,1,3,3,2,3,0,2023,3000.0,-0.15,7400.0
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,1,4,4,0,8,2,2023,3000.0,0.08,4500.0
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,1,3,4,0,2,0,2023,50000.0,0.39,110000.0

In [49]:
data_cleaned = df_predict_salary.drop_duplicates(subset=['선수명', '팀명', 'ERA', 'G', 'W', 'L', 'SV', 'HLD', 'WPCT'])

In [50]:
data_cleaned

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,3B,SAC,SF,IBB,WP,BK,연도,현재연봉,WAR_x,예측연봉
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,2,3,2,4,1,0,2020,8000.0,1.45,16000.0
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,0,2,0,0,0,0,2020,5200.0,0.29,4500.0
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,2,0,1,0,0,0,2020,15000.0,-0.37,11000.0
5,9,최원준,두산,3.80,42,10,2,0,0,0.833,...,3,2,4,0,2,1,2020,5900.0,3.46,16000.0
7,11,이영하,두산,4.64,42,5,11,6,0,0.313,...,1,7,6,3,4,1,2020,27000.0,2.39,19000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,14,오원석,SSG,5.23,28,8,10,0,0,0.444,...,2,5,7,0,11,0,2023,14000.0,1.64,14000.0
759,15,문승원,SSG,5.23,50,5,8,1,9,0.385,...,1,4,2,1,3,0,2023,70000.0,0.78,18000.0
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,1,3,3,2,3,0,2023,3000.0,-0.15,7400.0
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,1,4,4,0,8,2,2023,3000.0,0.08,4500.0
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,1,3,4,0,2,0,2023,50000.0,0.39,110000.0

In [51]:
data_cleaned.to_csv('./pitchers_salary_current&predict_fin.csv', index = False)