In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import re

In [16]:
df_2019 = pd.read_csv('./2019_pitcher_all.csv')
df_2020 = pd.read_csv('./2020_pitcher_all.csv')
df_2021 = pd.read_csv('./2021_pitcher_all.csv')
df_2022 = pd.read_csv('./2022_pitcher_all.csv')
df_2023 = pd.read_csv('./pitcher_all.csv')

In [3]:
df_salary = pd.read_csv('./Salary_WAR_data.csv')

In [17]:
df_salary

      선수명    연도   팀명      연봉   WAR
0     양현종  2020  KIA  230000  4.87
1     최형우  2020  KIA  150000  6.59
2      가뇽  2020  KIA   65000  4.68
3     나지완  2020  KIA   60000  2.01
4      터커  2020  KIA   55000  3.46
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[4205 rows x 5 columns]

In [18]:
df_2020

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,TBF,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK
0,1,배창현,두산,0.00,1,0,0,0,0,NaN,...,3,13,0.000,0,0,0,0,0,0,0
1,1,이태오,두산,NaN,1,0,0,0,0,NaN,...,2,9,-,0,0,0,0,0,0,0
2,3,알칸타라,두산,2.54,31,20,2,0,0,0.909,...,795,3144,0.232,38,3,2,4,0,3,1
3,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,317,1230,0.238,12,2,3,2,4,1,0
4,5,최세창,두산,3.00,3,0,0,0,0,NaN,...,15,47,0.333,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,21,이승민,삼성,6.84,7,1,3,0,0,0.250,...,128,497,0.315,5,0,1,0,1,0,0
246,22,심창민,삼성,7.52,23,2,2,0,3,0.500,...,98,412,0.24,0,1,2,1,0,3,0
247,23,정인욱,삼성,8.44,5,0,0,0,0,NaN,...,26,104,0.25,0,0,1,0,0,0,0
248,23,권오준,삼성,8.44,17,0,2,0,1,0.000,...,72,293,0.333,3,1,1,2,0,0,0
249,25,장지훈,삼성,10.08,29,0,1,0,0,0.000,...,146,606,0.331,4,0,1,3,0,5,0

In [19]:
def del_comma(df):
    rows = []
    for row in df['연봉(만원)']:
        row = ''.join(row)
        row_n = re.sub('[^가-힣0-9]', '', row)
        row_ns = row_n.split()
        row_ns = ''.join(row_ns)
        rows.append(row_ns)
    print(rows)
    df['연봉(만원)'] = rows
    df = df.rename(columns = {'연봉(만원)' : '연봉'})
    df['연봉'] = pd.to_numeric(df['연봉'])
    return df

In [20]:
df_salary = del_comma(df_salary)

KeyError: '연봉(만원)'

In [21]:
df_salary = df_salary.rename(columns = {'선수' : '선수명', '팀' : '팀명'})

In [22]:
df_salary

      선수명    연도   팀명      연봉   WAR
0     양현종  2020  KIA  230000  4.87
1     최형우  2020  KIA  150000  6.59
2      가뇽  2020  KIA   65000  4.68
3     나지완  2020  KIA   60000  2.01
4      터커  2020  KIA   55000  3.46
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[4205 rows x 5 columns]

In [23]:
df_salary_sk = df_salary.query('팀명 == "SK"')

In [24]:
df_salary_sk

      선수명    연도  팀명      연봉   WAR
248   이재원  2020  SK  130000  0.11
249    최정  2020  SK  120000  5.33
250    로맥  2020  SK   90000  5.01
251    킹엄  2020  SK   50000 -0.24
252    핀토  2020  SK   45000  1.15
...   ...   ...  ..     ...   ...
325   서상준  2020  SK    2700  0.00
326   김성민  2020  SK    2700  0.00
327   허민혁  2020  SK    2700  0.00
328   최재성  2020  SK    2700  0.00
1146  남태혁  2021  SK    3000  0.01

[82 rows x 5 columns]

In [25]:
df_2019['연도'] = 2019
df_2020['연도'] = 2020
df_2021['연도'] = 2021
df_2022['연도'] = 2022
df_2023['연도'] = 2023

In [26]:
df_2023

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,NP,AVG,2B,3B,SAC,SF,IBB,WP,BK,연도
0,1,백승우,두산,0.00,6,0,0,0,0,NaN,...,78,0.214,0,0,0,0,0,0,0,2023
1,1,이승진,두산,0.00,1,0,0,0,0,NaN,...,24,0.250,0,0,0,0,0,0,0,2023
2,3,브랜든,두산,2.49,18,11,3,0,0,0.786,...,1729,0.213,13,0,8,2,0,3,0,2023
3,4,알칸타라,두산,2.67,31,13,9,0,0,0.591,...,2988,0.236,33,0,10,2,1,3,0,2023
4,5,곽빈,두산,2.90,23,12,7,0,0,0.632,...,2229,0.212,18,1,7,4,0,4,1,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,137,0.357,1,0,0,0,0,0,0,2023
245,22,이기순,SSG,9.00,2,0,0,0,0,NaN,...,63,0.273,0,0,0,1,0,0,0,2023
246,22,한두솔,SSG,9.00,1,0,0,0,0,NaN,...,26,0.250,0,1,0,0,0,0,0,2023
247,24,정성곤,SSG,10.38,6,0,0,0,0,NaN,...,122,0.381,3,0,1,0,0,0,0,2023
248,25,김주온,SSG,81.00,1,0,0,0,0,NaN,...,14,0.667,0,0,0,0,0,1,0,2023

In [27]:
df_2019['연도+1'] = 2020
df_2020['연도+1'] = 2021
df_2021['연도+1'] = 2022
df_2022['연도+1'] = 2023
df_2023['연도+1'] = 2024

In [28]:
df_2023

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,AVG,2B,3B,SAC,SF,IBB,WP,BK,연도,연도+1
0,1,백승우,두산,0.00,6,0,0,0,0,NaN,...,0.214,0,0,0,0,0,0,0,2023,2024
1,1,이승진,두산,0.00,1,0,0,0,0,NaN,...,0.250,0,0,0,0,0,0,0,2023,2024
2,3,브랜든,두산,2.49,18,11,3,0,0,0.786,...,0.213,13,0,8,2,0,3,0,2023,2024
3,4,알칸타라,두산,2.67,31,13,9,0,0,0.591,...,0.236,33,0,10,2,1,3,0,2023,2024
4,5,곽빈,두산,2.90,23,12,7,0,0,0.632,...,0.212,18,1,7,4,0,4,1,2023,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0.357,1,0,0,0,0,0,0,2023,2024
245,22,이기순,SSG,9.00,2,0,0,0,0,NaN,...,0.273,0,0,0,1,0,0,0,2023,2024
246,22,한두솔,SSG,9.00,1,0,0,0,0,NaN,...,0.250,0,1,0,0,0,0,0,2023,2024
247,24,정성곤,SSG,10.38,6,0,0,0,0,NaN,...,0.381,3,0,1,0,0,0,0,2023,2024
248,25,김주온,SSG,81.00,1,0,0,0,0,NaN,...,0.667,0,0,0,0,0,1,0,2023,2024

In [29]:
df_all = pd.concat([df_2019, df_2020, df_2021, df_2022, df_2023])

In [30]:
df_all

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,AVG,2B,3B,SAC,SF,IBB,WP,BK,연도,연도+1
0,1,임규빈,키움,0.00,1,0,0,0,0,NaN,...,0.25,1,0,0,0,0,0,0,2019,2020
1,2,양현,키움,1.99,29,1,0,0,1,1.000,...,0.214,5,1,1,1,0,0,0,2019,2020
2,3,오주원,키움,2.32,57,3,3,18,3,0.500,...,0.261,7,0,3,3,0,1,0,2019,2020
3,4,김성민,키움,2.56,50,2,0,0,5,1.000,...,0.245,13,1,1,0,0,4,0,2019,2020
4,5,조상우,키움,2.66,48,2,4,20,8,0.333,...,0.253,3,0,2,2,0,1,0,2019,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0.357,1,0,0,0,0,0,0,2023,2024
245,22,이기순,SSG,9.00,2,0,0,0,0,NaN,...,0.273,0,0,0,1,0,0,0,2023,2024
246,22,한두솔,SSG,9.00,1,0,0,0,0,NaN,...,0.25,0,1,0,0,0,0,0,2023,2024
247,24,정성곤,SSG,10.38,6,0,0,0,0,NaN,...,0.381,3,0,1,0,0,0,0,2023,2024
248,25,김주온,SSG,81.00,1,0,0,0,0,NaN,...,0.667,0,0,0,0,0,1,0,2023,2024

In [31]:
df_salary

      선수명    연도   팀명      연봉   WAR
0     양현종  2020  KIA  230000  4.87
1     최형우  2020  KIA  150000  6.59
2      가뇽  2020  KIA   65000  4.68
3     나지완  2020  KIA   60000  2.01
4      터커  2020  KIA   55000  3.46
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[4205 rows x 5 columns]

In [32]:
df_current_salary = pd.merge(df_all, df_salary, on = ['선수명', '팀명', '연도'], how = 'left')

In [33]:
df_current_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,3B,SAC,SF,IBB,WP,BK,연도,연도+1,연봉,WAR
0,1,임규빈,키움,0.00,1,0,0,0,0,NaN,...,0,0,0,0,0,0,2019,2020,NaN,NaN
1,2,양현,키움,1.99,29,1,0,0,1,1.000,...,1,1,1,0,0,0,2019,2020,NaN,NaN
2,3,오주원,키움,2.32,57,3,3,18,3,0.500,...,0,3,3,0,1,0,2019,2020,NaN,NaN
3,4,김성민,키움,2.56,50,2,0,0,5,1.000,...,1,1,0,0,4,0,2019,2020,NaN,NaN
4,5,조상우,키움,2.66,48,2,4,20,8,0.333,...,0,2,2,0,1,0,2019,2020,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1242,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0,0,0,0,0,0,2023,2024,3000.0,0.02
1243,22,이기순,SSG,9.00,2,0,0,0,0,NaN,...,0,0,1,0,0,0,2023,2024,3000.0,-0.01
1244,22,한두솔,SSG,9.00,1,0,0,0,0,NaN,...,1,0,0,0,0,0,2023,2024,3100.0,0.00
1245,24,정성곤,SSG,10.38,6,0,0,0,0,NaN,...,0,1,0,0,0,0,2023,2024,5500.0,-0.11
1246,25,김주온,SSG,81.00,1,0,0,0,0,NaN,...,0,0,0,0,1,0,2023,2024,3000.0,-0.01

In [34]:
df_current_salary = df_current_salary.dropna()

In [35]:
df_current_salary = df_current_salary.drop_duplicates()

In [36]:
df_current_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,3B,SAC,SF,IBB,WP,BK,연도,연도+1,연봉,WAR
243,3,알칸타라,두산,2.54,31,20,2,0,0,0.909,...,3,2,4,0,3,1,2020,2021,45000.0,8.98
244,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,2,3,2,4,1,0,2020,2021,8000.0,1.45
246,6,플렉센,두산,3.01,21,8,4,0,0,0.667,...,0,6,4,2,5,0,2020,2021,60000.0,3.94
247,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,0,2,0,0,0,0,2020,2021,5200.0,0.29
248,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,2,0,1,0,0,0,2020,2021,15000.0,-0.37
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,1,3,3,2,3,0,2023,2024,3000.0,-0.15
1238,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,1,4,4,0,8,2,2023,2024,3000.0,0.08
1239,18,임준섭,SSG,5.79,41,0,2,0,4,0.000,...,0,3,1,1,2,0,2023,2024,4000.0,-0.12
1241,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,1,3,4,0,2,0,2023,2024,50000.0,0.39
1242,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0,0,0,0,0,0,2023,2024,3000.0,0.02

In [37]:
df_current_salary_sk = df_current_salary.query('팀명 == "SK"')
df_current_salary_sk

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,3B,SAC,SF,IBB,WP,BK,연도,연도+1,연봉,WAR
442,1,정수민,SK,1.15,3,1,0,0,0,1.000,...,0,0,1,0,0,0,2020,2021,4200.0,1.01
443,2,박민호,SK,2.42,57,2,1,4,11,0.667,...,0,6,2,0,0,0,2020,2021,10000.0,1.45
445,4,문승원,SK,3.65,25,6,8,0,0,0.429,...,0,5,5,0,2,0,2020,2021,25700.0,4.23
446,5,서진용,SK,4.13,63,2,7,8,12,0.222,...,1,4,3,1,7,0,2020,2021,20000.0,0.36
447,6,박종훈,SK,4.81,29,13,11,0,0,0.542,...,3,2,2,1,5,0,2020,2021,29000.0,3.11
451,10,이태양,SK,5.46,53,2,1,0,4,0.667,...,1,4,3,2,3,0,2020,2021,14000.0,0.37
452,11,박희수,SK,5.47,28,0,1,0,0,0.000,...,0,1,2,1,2,0,2020,2021,12000.0,0.15
453,12,오원석,SK,5.59,8,0,1,0,0,0.000,...,0,0,0,0,1,1,2020,2021,2700.0,-0.09
454,13,이건욱,SK,5.68,27,6,12,0,0,0.333,...,4,1,6,0,6,1,2020,2021,3000.0,1.84
455,14,김세현,SK,5.79,42,2,0,1,7,1.000,...,0,5,2,0,1,0,2020,2021,12000.0,-0.32
457,16,핀토,SK,6.17,30,6,15,0,0,0.286,...,1,2,5,3,11,2,2020,2021,45000.0,1.15
458,17,정영일,SK,6.56,29,2,2,2,2,0.500,...,0,2,1,1,3,1,2020,2021,11000.0,-0.37
460,19,김태훈,SK,7.40,33,1,6,0,4,0.143,...,0,0,3,0,10,0,2020,2021,24000.0,0.37
461,20,김주한,SK,7.43,22,1,7,0,0,0.125,...,1,0,2,0,4,0,2020,2021,4500.0,-0.31
462,21,이원준,SK,7.45,17,0,1,0,0,0.000,...,2,0,0,2,7,0,2020,2021,3200.0,-0.14
463,22,김주온,SK,7.55,29,0,3,0,0,0.000,...,0,2,2,0,5,0,2020,2021,2700.0,-0.16
464,23,하재훈,SK,7.62,15,1,1,4,0,0.500,...,0,1,0,0,1,0,2020,2021,15000.0,-0.35
465,24,백승건,SK,7.98,10,0,5,0,0,0.000,...,0,1,1,0,1,0,2020,2021,3400.0,-0.29
466,25,김택형,SK,8.61,31,1,3,0,3,0.250,...,1,1,0,1,6,0,2020,2021,3700.0,-0.32

In [38]:
df_salary_pred = df_salary.copy()

In [39]:
df_salary_pred

      선수명    연도   팀명      연봉   WAR
0     양현종  2020  KIA  230000  4.87
1     최형우  2020  KIA  150000  6.59
2      가뇽  2020  KIA   65000  4.68
3     나지완  2020  KIA   60000  2.01
4      터커  2020  KIA   55000  3.46
...   ...   ...  ...     ...   ...
4200  박성빈  2024   키움    3000 -0.07
4201  우승원  2024   키움    3000  0.00
4202  박윤성  2024   키움    3000 -0.03
4203  원성준  2024   키움    1500 -0.22
4204  신효수  2024   키움    1500  0.00

[4205 rows x 5 columns]

In [40]:
df_salary_pred['연도'] = df_salary_pred['연도'] - 1

In [41]:
df_salary_pred

      선수명    연도   팀명      연봉   WAR
0     양현종  2019  KIA  230000  4.87
1     최형우  2019  KIA  150000  6.59
2      가뇽  2019  KIA   65000  4.68
3     나지완  2019  KIA   60000  2.01
4      터커  2019  KIA   55000  3.46
...   ...   ...  ...     ...   ...
4200  박성빈  2023   키움    3000 -0.07
4201  우승원  2023   키움    3000  0.00
4202  박윤성  2023   키움    3000 -0.03
4203  원성준  2023   키움    1500 -0.22
4204  신효수  2023   키움    1500  0.00

[4205 rows x 5 columns]

In [42]:
df_predict_salary = pd.merge(df_current_salary, df_salary_pred, on = ['선수명', '팀명', '연도'], how = 'left')

In [43]:
df_predict_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,SF,IBB,WP,BK,연도,연도+1,연봉_x,WAR_x,연봉_y,WAR_y
0,3,알칸타라,두산,2.54,31,20,2,0,0,0.909,...,4,0,3,1,2020,2021,45000.0,8.98,NaN,NaN
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,2,4,1,0,2020,2021,8000.0,1.45,16000.0,0.18
2,6,플렉센,두산,3.01,21,8,4,0,0,0.667,...,4,2,5,0,2020,2021,60000.0,3.94,NaN,NaN
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,0,0,0,0,2020,2021,5200.0,0.29,4500.0,0.13
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,1,0,0,0,2020,2021,15000.0,-0.37,11000.0,1.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,3,2,3,0,2023,2024,3000.0,-0.15,7400.0,0.49
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,4,0,8,2,2023,2024,3000.0,0.08,4500.0,0.81
762,18,임준섭,SSG,5.79,41,0,2,0,4,0.000,...,1,1,2,0,2023,2024,4000.0,-0.12,NaN,NaN
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,4,0,2,0,2023,2024,50000.0,0.39,110000.0,0.08
764,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0,0,0,0,2023,2024,3000.0,0.02,NaN,NaN

In [44]:
df_predict_salary = df_predict_salary.drop('연도+1', axis = 1)
df_predict_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,SAC,SF,IBB,WP,BK,연도,연봉_x,WAR_x,연봉_y,WAR_y
0,3,알칸타라,두산,2.54,31,20,2,0,0,0.909,...,2,4,0,3,1,2020,45000.0,8.98,NaN,NaN
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,3,2,4,1,0,2020,8000.0,1.45,16000.0,0.18
2,6,플렉센,두산,3.01,21,8,4,0,0,0.667,...,6,4,2,5,0,2020,60000.0,3.94,NaN,NaN
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,2,0,0,0,0,2020,5200.0,0.29,4500.0,0.13
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,0,1,0,0,0,2020,15000.0,-0.37,11000.0,1.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,3,3,2,3,0,2023,3000.0,-0.15,7400.0,0.49
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,4,4,0,8,2,2023,3000.0,0.08,4500.0,0.81
762,18,임준섭,SSG,5.79,41,0,2,0,4,0.000,...,3,1,1,2,0,2023,4000.0,-0.12,NaN,NaN
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,3,4,0,2,0,2023,50000.0,0.39,110000.0,0.08
764,21,조성훈,SSG,6.43,2,0,1,0,0,0.000,...,0,0,0,0,0,2023,3000.0,0.02,NaN,NaN

In [45]:
df_predict_salary = df_predict_salary.drop_duplicates()

In [46]:
df_predict_salary = df_predict_salary.dropna()

In [47]:
df_predict_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,SAC,SF,IBB,WP,BK,연도,연봉_x,WAR_x,연봉_y,WAR_y
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,3,2,4,1,0,2020,8000.0,1.45,16000.0,0.18
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,2,0,0,0,0,2020,5200.0,0.29,4500.0,0.13
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,0,1,0,0,0,2020,15000.0,-0.37,11000.0,1.81
5,9,최원준,두산,3.80,42,10,2,0,0,0.833,...,2,4,0,2,1,2020,5900.0,3.46,16000.0,4.88
7,11,이영하,두산,4.64,42,5,11,6,0,0.313,...,7,6,3,4,1,2020,27000.0,2.39,19000.0,-0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,14,오원석,SSG,5.23,28,8,10,0,0,0.444,...,5,7,0,11,0,2023,14000.0,1.64,14000.0,2.95
759,15,문승원,SSG,5.23,50,5,8,1,9,0.385,...,4,2,1,3,0,2023,70000.0,0.78,18000.0,1.09
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,3,3,2,3,0,2023,3000.0,-0.15,7400.0,0.49
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,4,4,0,8,2,2023,3000.0,0.08,4500.0,0.81
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,3,4,0,2,0,2023,50000.0,0.39,110000.0,0.08

In [48]:
df_predict_salary = df_predict_salary.drop('WAR_y', axis = 1)
df_predict_salary = df_predict_salary.rename(columns = {'연봉_x' : '현재연봉', '연봉_y' : '예측연봉'})
df_predict_salary

,순위,선수명,팀명,ERA,G,W,L,SV,HLD,WPCT,...,3B,SAC,SF,IBB,WP,BK,연도,현재연봉,WAR_x,예측연봉
1,4,박치국,두산,2.89,63,4,4,0,7,0.500,...,2,3,2,4,1,0,2020,8000.0,1.45,16000.0
3,7,김명신,두산,3.52,16,0,1,0,0,0.000,...,0,2,0,0,0,0,2020,5200.0,0.29,4500.0
4,8,김강률,두산,3.54,30,2,2,0,0,0.500,...,2,0,1,0,0,0,2020,15000.0,-0.37,11000.0
5,9,최원준,두산,3.80,42,10,2,0,0,0.833,...,3,2,4,0,2,1,2020,5900.0,3.46,16000.0
7,11,이영하,두산,4.64,42,5,11,6,0,0.313,...,1,7,6,3,4,1,2020,27000.0,2.39,19000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
758,14,오원석,SSG,5.23,28,8,10,0,0,0.444,...,2,5,7,0,11,0,2023,14000.0,1.64,14000.0
759,15,문승원,SSG,5.23,50,5,8,1,9,0.385,...,1,4,2,1,3,0,2023,70000.0,0.78,18000.0
760,16,이로운,SSG,5.62,50,6,1,0,5,0.857,...,1,3,3,2,3,0,2023,3000.0,-0.15,7400.0
761,17,송영진,SSG,5.70,17,3,3,0,0,0.500,...,1,4,4,0,8,2,2023,3000.0,0.08,4500.0
763,20,박종훈,SSG,6.19,18,2,6,0,0,0.250,...,1,3,4,0,2,0,2023,50000.0,0.39,110000.0

In [34]:
df_predict_salary.to_csv('./pitcher_salary_current&predict.csv', index = False)